[submodule "worldedit"]
	path = worldedit
	url = https://github.com/minetest-mods/worldedit.git

[submodule "mesecons"]
	path = mesecons
	url = https://github.com/minetest-mods/mesecons.git
[submodule "Minetest-WorldEdit"]
	path = Minetest-WorldEdit
	url = https://github.com/Uberi/Minetest-WorldEdit.git
[submodule "3d_armor"]
	path = 3d_armor
	url = https://github.com/minetest-mods/3d_armor.git
[submodule "terraform"]
	path = terraform
	url = https://github.com/x2048/terraform.git
[submodule "we_undo"]
	path = we_undo
	url = https://codeberg.org/HybridDog/we_undo.git
[submodule "unified_inventory"]
	path = unified_inventory
	url = https://github.com/minetest-mods/unified_inventory.git
[submodule "unified_inventory_plus"]
	path = unified_inventory_plus
	url = https://github.com/mt-mods/unified_inventory_plus.git
[submodule "fakelib"]
	path = fakelib
	url = https://github.com/OgelGames/fakelib.git
